# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Build paths
build

# Visual Studio Code
.vscode

# Kacper's clion artifacts
cmake-build-debug
.idea
*.swp

# whole filesystem is not copied to git
etc/config/*